footer {
  background: #252427 !important;
}

.iconSocial {
  color: #FAFAFA;
}

.copyright {
  color: #FAFAFA;
}

.termsOfService {
  color: #FF1A43;
}

#content_div_one_photo {
  opacity: 0.6;
}

#padre {
  position: relative; /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}


.card-title {
  top: 0; /* posicionada en la esquina inferior derecha */
}

img {
  float: top;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  filter: blur(6px);
}
