<div class="all-events">
  <header>
    <div class="img-all-events"></div>
    <div class="titles">
      <p class="event-title-1">Establecimientos a tu</p>
      <p class="event-title-2">ALTURA.</p>
    </div>
  </header>
  <main class="margin-1200">
    <div class="float-left">
      <p class="events"><b>Establecimientos</b></p>
      <p class="events2">¡Estos son todos los establecimientos!</p>
    </div>
    <section class="all-event">
      <div *ngFor="let establishment of establishments">
        <app-establishment-card [establishment]="establishment"></app-establishment-card>
      </div>
    </section>
  </main>
</div>
