<div style="background: white; animation-duration: 0.2s; overflow: hidden"
     class="animate__animated animate__fadeInRight">
  <div class="header-events">
    <h1 class="name-company d-block">¡Tus establecimientos!</h1>
    <h2 class="nit-company">Crea tus propias</h2>
    <div class="pl-5 pt-0">
      <label class="options-label">OPCIONES</label>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <div style="padding-right: 8rem;">
      <div class="position-absolute info-company text-white">
        <div class="options text-right">
          <label class="title-top m-0 p-0">Establecimientos</label>
          <h4 class="m-0 p-0">{{establishments.length}}</h4>
          <label class="title-top m-0 p-0">Seguidores</label>
          <h4 class="m-0 p-0">{{interest}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-3">
    <button class="btn my-btn text-white" (click)="establishment()" data-toggle="modal"
            data-target="#register-establishment-modal">
      <fa-icon [icon]="faCalendarPlus" size="3x">
      </fa-icon>
    </button>
    <div>
      Crear establecimiento
    </div>
  </div>

  <div *ngIf="establishments.length != 0">
    <div class="left-div">
      <p class="events"><b>Tus establecimientos</b></p>
      <p class="events2">Estos son tus establecimientos</p>
    </div>
    <section class="all-event">
      <div *ngFor="let establishment of establishments">
        <app-establishment-card [establishment]="establishment"></app-establishment-card>
      </div>
    </section>
    <div style="padding: 25vh"
         *ngIf="establishments.length == 0"></div>
  </div>
  <div style="padding: 25vh"
       *ngIf="establishments.length == 0"></div>
</div>
