* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header-events{
  width: 90%;
  min-width: 280px;
  max-width: 1200px;
  margin: 20px auto 0;

}
.info-company{
  width: 170px;
  height: 233px;
  background: #252427;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  transform: rotate(70deg);
  top: -86px;
  padding-top: 120px;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;

  color: #FFFFFF;
}

.options {
  transform: rotate(-70deg);
}

.title-top {
  font-style: normal;
  font-weight: 275;
  font-size: 0.8rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

.name-company {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(37, 36, 39, 0.8);
}

.nit-company {
  font-style: normal;
  font-weight: 275;
  font-size: 1.2rem;
  line-height: 1rem;
  color: rgba(37, 36, 39, 0.8);
  margin-top: 100px;
}

.my-btn {
  background: #FF1A43;
  border-radius: 15px;
  margin-bottom: 5px;
  width: 10vw;
  height: 10vw;
}

.options-label{
  font-family: Lovelo, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  text-align: center;

  color: #FF1A43;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.my-btn{
  background: #FF1A43;
  justify-self: center;
  border-radius: 15px;
  margin-bottom: 5px;
  width: 10vw;
  max-width: 150px;
  height: 10vw;
  max-height: 150px;
}

.container-events{
  width: 90%;
  min-width: 288px;
  max-width: 1200px;
  margin: 20px auto 0;
}

.left-div{
  width: 90%;
  min-width: 280px;
  max-width: 1200px;
  margin: 20px auto 0;
}

.events {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1rem;
  color: #252427;
  margin-bottom: 1rem ;
}

.events2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(37, 36, 39, 0.6);
  margin: 0;
}


.all-event {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  min-width: 288px;
  margin: 40px auto 40px;
  justify-content: left;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .my-btn{
    width: 15vw;
    height: 15vw;
  }

  .all-event {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .my-btn {
    width: 20vw;
    height: 20vw;
  }

  .info-company{
    padding-top: 160px;
  }
}

@media screen and (max-width: 390px){
  .info-company{
    visibility: hidden;
  }
}
