<div class="animate__animated animate__fadeInRight" style="animation-duration: 0.2s;">
  <header>
    <section class="margin-1200 mt-5">
      <p class="text-center text-name">¡Hola! {{client.firstName}}</p>
      <p class="text-center text-lastname overflow-hidden" style="margin-left: 6rem">{{client.lastName}}</p>
      <div class="text-center">
        <p class="text-desc-profile">Este es tu perfil</p>
        <p class="text-desc-change">¡Cámbialo cuando quieras!</p>
      </div>
    </section>
  </header>
  <main>
    <section class="margin-800 text-info">
      <label>Nombre</label>
      <p>{{client.firstName}}</p>
      <label>Apellido</label>
      <p>{{client.lastName}}</p>
      <label>Género</label>
      <p>{{client.gender}}</p>
      <label>Fecha de cumpleaños</label>
      <p>{{client.birthdate | date}}</p>
    </section>
    <section class="margin-1200 btn-list">
      <button class="btn-custom" [routerLink]="['/client/edit']">Editar</button>
      <button class="btn-custom" [routerLink]="['/client/security']">Seguridad</button>
      <button class="btn-custom btn-red" data-toggle="modal" data-target="#exampleModal">Eliminar cuenta</button>
    </section>
  </main>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="ralewayFont modal-title" id="exampleModalLabel">Eliminación de cuenta</h4>
        <button type="button" class="close p-0 pr-3" data-dismiss="modal" aria-label="Close" style="font-size: 60px; outline: none">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center">
        <fa-icon [icon]="faExclamationTriangle" class="fa-9x text-warning"></fa-icon>
        <div class="ralewayFont modal-body">
          <h5>
            ¿Está seguro que desea eliminar su cuenta?
          </h5>
          <h6 style="opacity: 50%">
            Está acción no se podra revertir
          </h6>
        </div>
      </div>
      <div class="ralewayFont p-4">
        <div class="row">
          <div class="col">
            <button type="button" class="btn border-circ btn-danger w-100" data-toggle="modal" data-target="#confimationModal"
                    data-dismiss="modal" (click)="sendReqRemove()">Borrar
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn border-circ btn-dark w-100" data-dismiss="modal">Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
