<div class="card" style="cursor: pointer" (click)="redirect()">
  <img class="card-img-top" src="{{event.imageUrl}}" alt="Card image cap">
  <div class="card-body position-relative">
    <button class="like-event-like animate__animated animate__pulse" (click)="like($event)"
            *ngIf="(isClient == 'client' || isClient == 'norole') && !isLike" style="color: black">
      <fa-icon [icon]="faLike"></fa-icon>
    </button>
    <button class="like-event-like animate__animated animate__pulse" (click)="like($event)"
            *ngIf="(isClient == 'client' || isClient == 'norole') && isLike" style="color: red">
      <fa-icon [icon]="faLike"></fa-icon>
    </button>
    <div>
      <div class="float-left date-event">
        <p>{{getDate()}}</p>
      </div>
      <div class="float-right hour-event">
        <p>
          <fa-icon [icon]="faClock"></fa-icon>
          {{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="text-wr">
      <p class="title-event" data-toggle="tooltip" data-placement="top"
         title="{{event.eventName}}" id="name{{event.eventId}}" (click)="hover($event)">{{event.eventName}}</p>
    </div>
    <div>
      <a class="city-title m-0" title="Popover title" data-toggle="modal" data-target="#exampleModalCenter">
        <fa-icon [icon]="faMap"></fa-icon>
        {{event.city}}
      </a>
      <div class="float-right icons" *ngIf="router.url == '/company/events'">
        <fa-icon [icon]="faTrash" size=2x style="color: #ff1a43; cursor: pointer" (click)="remove($event)"></fa-icon>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
